langchain
python-dotenv
ipykernel
langchain_community
pypdf
bs4
arxiv
wikipedia
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
streamlit
langchain_groq
langchain_core
uvicorn
langserve
arxiv
wikipedia
duckduckgo-search
ddgs
SQLAlchemy
mysql-connector-python
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
gradio